@use "./variable/" as *;
// @use "./function/" as *;
@use "./reset";
// @use "./icon";
// @use "./keyframe";

// 串google font：只允許編碼在它上面
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&family=Special+Gothic+Expanded+One&family=Roboto+Slab:wght@100..900&display=swap');

// 字體

// <weight>: Use a value from 400 to 800
// <uniquifier>: Use a unique and descriptive class name
// .sen-<uniquifier> {
//     font-family: "Sen", sans-serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
//   }

  
a {
    cursor: pointer;
    color: #2a2a2b;
    opacity: 1;

    &:hover {
        opacity: 0.5;
    }
}

h2 {

    padding: 6rem 0 1.5rem;
    color: #2a2a2b;
    font-size: 3rem;
    // .borel-regular 
    font-family: "Borel",
        cursive;
    font-weight: 400;
    font-style: normal;
    // letter-spacing: 0.02rem;

    .name {
        color: #593a28;
    }

}

@media (max-width: 800px) {
    h2 {
        font-size: 2rem;
    }
}

h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #2a2a2b;

}

p {
    line-height: 1.5rem;
    font-size: 12px;
    color: #929292;
}

// .head {
//     display: block;
//     width: 100vw;
//     padding: 10% 4% 0%;
//     margin: 0%;
// }

.wrapper {

    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    padding: 4% 4%;
    gap: 2rem;

    #menu {
        height: 100%;
        position: fixed;
        background-color: #FED057;
        width: 300px;
        transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
        transform: translateX(-100%);
        left: 60px;
    }


    /* 導覽列 */
    @media (max-width: 800px) {
        .nav {
            align-self: flex-end;
        }
    }

    .nav {

        position: sticky;
        top: 10%;
        width: 10%;
        align-self: flex-start;
        // flex: 1;
        // display: flex;
        // flex-direction: column;

        li {
            padding: 0 0 2rem;
        }

        a {
            line-height: 2rem;
            // .borel-regular 
            font-family: "Borel", cursive;
            font-weight: 400;
            font-style: normal;
        }

        img {
            width: 20%;
        }
    }

    // 漢堡選單
    .contact-icon {
        display: none;
        background: none;
        border: none;
        cursor: pointer;
    }

    .hamburger {
        display: none;
        flex-direction: column;
        gap: 6px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .hamburger-icon {
        width: 32px;
        color: #2a2a2b;
        transition: 0.6s ease;
    }

    .hamburger span {
        width: 24px;
        height: 3px;
        background: #2a2a2b;
        transition: 0.6s;
    }

    .hamburger.active span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .nav {
        display: flex;
        gap: 2rem;
    }

    .button-style{
        display: flex;
        justify-content: center;
        margin: 4% 16%;
        // 按鈕底色
        padding: 1.5rem 1rem;
        background-color: cadetblue;
        // 字體顏色
        color: rgba($color-lesser1, 1);
        font-family: "Sen", sans-serif;
        font-weight: 800;
        font-size: 1.5rem;
        letter-spacing: 0.15rem;

    }

    @media (max-width: 800px) {



        .contact-icon {
            border-radius: 0 1rem 1rem 0;
            margin: 0;
            
            position: fixed;
            z-index: 1;
            bottom: 1rem;
            left: 0.5rem;
            
            transition: transform 0.6s ease, opacity 0.6s ease;
            /* 預設隱藏 */
            opacity: 0;
            transform: translateY(2rem);

            /* 滑動後出現 */
            .contact-icon.show {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .hamburger {
            display: flex;
            position: fixed;
            z-index: 2;

            .hamburger-icon.open {
                top: 1rem;
                right: 1rem;
                width: 40px;
                color: $color-yellow;
                /* 打開時顏色 */
                transform: translateY(0px) rotate(-225deg);
            }
        }

        .nav {
            position: fixed;
            z-index: 1;
            top: 0;
            right: -100%;
            height: 100%;
            width: 100%;
            //   手機選單背景色
            background: rgba($color-lesser4, .95);
            padding: 3rem 1.5rem;
            transition: 0.3s;
        }

        .nav.open {
            right: 0%;
            justify-content: end;

            ul {
                padding: 20% 4% 0;

                a {
                    color: $color-yellow;
                }

            }

            font-size: 1rem;



        }
    }

    /* 展示區*/
    .show {
        background-color: $color-lesser1;
        flex: 5;
        padding: 4% 4% 80%;
        gap: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h2 {
            background-color: $color-lesser1;
            position: sticky;
            top: 0rem;
            // z-index: -1;
        }



        .projects {

            display: grid;
            grid-template-columns: repeat(3, 1fr); // 三欄
            gap: 3rem 1.5rem;

            .project-item {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 1.5rem;
                cursor: pointer;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.03);
                }


                img {
                    height: 20vh;
                    overflow: hidden;
                    object-fit: cover;
                    background-color: antiquewhite;
                    margin: 0 auto;
                }


            }

            .lightbox {
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background-color: #f0efef;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1000;
            }

            .lightbox-content {
                position: relative;
                display: flex;
                gap: 1.5rem;
                max-width: 90%;
                max-height: 90%;

                img {
                    max-width: 70vw;
                    max-height: 60vh;
                }
            }

            .lightbox-close {
                position: absolute;
                top: -1px;
                right: -56px;
                font-size: 1.5rem;
                color: white;
                cursor: pointer;
                background: rgba(0, 0, 0, 0.5);
                border-radius: 50%;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 38px;
            }

            .caption {
                width: 10vw;
                text-align: center;
                margin-top: 12px;
            }

        }

        @media (max-width: 800px) {

            .projects {
                grid-template-columns: repeat(1, 1fr);
            }
        }

    }

}

footer {
    display: block;
    text-align: center;
    margin: 0 auto 20%;
}