@use "./variable/" as *;
// @use "./function/" as *;
@use "./reset";
// @use "./icon";
// @use "./keyframe";

// 串google font：只允許編碼在它上面
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&family=Special+Gothic+Expanded+One&family=Roboto+Slab:wght@100..900&display=swap');

a {
    cursor: pointer;
    color: #2a2a2b;
    opacity: 1;

    &:hover {
        opacity: 0.5;
    }
}

h2 {
    color: #2a2a2b;
    font-size: 5rem;
}
h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #2a2a2b;
}

p {
    font-size: 12px;
    color: #929292;
}

.wrapper {
    display: flex;
    width: 100vw;
    padding: 10% 4%;
    gap: 0.5rem;

    /* 導覽列 */
    .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        a{
            line-height: 2rem;
        }
    }

    /* 展示區*/
    .right {
        flex: 5;
        gap: 3rem;
        display: flex;
        flex-direction: column;

        .projects {

            display: grid;
            grid-template-columns: repeat(3, 1fr); // 三欄
            gap: 3rem 0.5rem;

            .project-item {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 1.5rem;
                cursor: pointer;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.03);
                }


                img {
                    height: 20vh;
                    overflow: hidden;
                    object-fit: cover;
                    background-color: antiquewhite;
                    margin: 0 auto;
                }


            }

            .lightbox {
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background-color: #f0efef;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1000;
              }
              
              .lightbox-content {
                position: relative;
                display: flex;
                gap: 1.5rem;
                max-width: 90%;
                max-height: 90%;
                img {
                    max-width: 70vw;
                    max-height: 60vh;
                  }
              }
              .lightbox-close {
                position: absolute;
                top: -1px;
                right: -56px;
                font-size: 1.5rem;
                color: white;
                cursor: pointer;
                background: rgba(0, 0, 0, 0.5);
                border-radius: 50%;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 38px;
              }
              
              .caption {
                width: 10vw;
                text-align: center;
                margin-top: 12px;
              }

        }


    }

}
footer{
    display: block;
    text-align: center;
    margin: 0 auto 20%;
}